$main-background: #37054f;
$box-color: #775b93;
$box-color2: #926ab9;
$for-form: #5731ff;
$error-color: #ff74ae;
$gray: #3a3a3a;
$footer-color: #400050;
$light-color: #5c5c5c;
$btn-color: #6b005d;
$back_color: #cc00ff;
$light-green: #73db79;
