$main-background: #37054f;
$box-color: #775b93;
$back_color: #35054b;
$box-color2: #ac7adf;
$for-form: #5731ff;
$btn-color: #a537af;
$gray: #2e2e2e;
$footer-color: #2e0455;
$light-color: #c0c0c0;
$light-green: #cbfe00;
