@import '../../../global_styles/constants.scss';
@import '../../../global_styles/mixins.scss';

.AddComponent-box {
  @include flex-row;
  position: relative;
  left: 0;
  width: 400px;
  height: 80px;
  background-color: $box-color2;
  margin: 10px 25px;
  overflow: hidden;

  &_name {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 24px;
    white-space: nowrap;
  }
  &_svg {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    object-fit: cover;
  }

  &_btn {
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    margin: 15px 20px;
    padding: 10px auto;
    width: 100px !important;
    height: 50px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: $light-color;
    text-decoration: none;
    border-radius: 20%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    transition: background-color 0.6s ease;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%, -50%, 0);
      background: rgba($light-color, 0.1);
      border-radius: 100%;
      transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
      background: darken($light-color, 7%);
    }
  }
}
